<input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
    <app-admin-header></app-admin-header>
</header>

<nav id="drawer">
    <app-admin-nav-content [mainpage]="'ordermanager'" [page]="'coupons'"></app-admin-nav-content>
</nav>

<div id="main" class="adminMain-wrapper">
  <div class="content">
    <div class="container-fluid">


        <div class="page-title-box mb-4">
          <div class="d-flex justify-content-between">
            <h4 class="page-title">{{ status }} Coupons</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                  <li class="breadcrumb-item">
                      <a routerLink="/">Dashboard</a>
                  </li>
                  <li class="breadcrumb-item active">Coupons</li>
              </ol>
            </div>
          </div>
        </div>


        <section class="user-list">
          <div class="row">
              <div class="col-xl-12">
                  <div class="card card-dark">
                      <div class="card-header">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 text-white">
                                <div class="view-page">
                                  <span class="text-white mr-3">Pages:</span> <select class="selectNum" (change)="selectPerPage($event)">
                                      <option value="10">10</option>
                                      <option value="20">20</option>
                                      <option value="50">50</option>
                                      <option value="100">100</option>
                                      <option value="150">150</option>
                                      <option value="200">200</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                  <div class="text-right">
                                    <form [formGroup]="form" (ngSubmit)="submit()">
                                      <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search by coupon code or first name or last name" formControlName="keywords">
                                        <div class="input-group-append">
                                          <button class="btn btn-success" *ngIf="!isSearching" type="submit">Go</button>
                                          <button class="btn btn-danger" *ngIf="!isSearching" (click)="cancelSearch()" type="button"><i class="fa fa-times"></i></button>
                                          <button class="btn btn-success disabled" *ngIf="isSearching" type="button" disabled><i class="fa fa-spinner fa-spin"></i></button>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                              </div>
                          </div>
                      </div>


                  </div>
              </div>
          </div>

          <div class="text-right">
            <button class="btn mt-4 btn-success" [openModal]="openDetailModal">Add Coupon</button>
          </div>

          <div class="sortWrap mb-4">
            <div class="d-flex justify-content-between mobileView">
                <div class="pointer tabLink" [class.activeTab]="status == 'all'"><a  routerLink="/order-manager/coupons/all">All Coupons</a></div>
                <div class="pointer tabLink" [class.activeTab]="status == 'active'"><a routerLink="/order-manager/coupons/active">Active Coupons</a></div>
                <div class="pointer tabLink" [class.activeTab]="status == 'used'"><a routerLink="/order-manager/coupons/used">Used Coupons</a></div>
            </div>
          </div>


          <div class="card card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Coupon Code</th>
                            <th>Owner</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="coupons?.length > 0">
                        <tr *ngFor="let coupon of coupons">
                          <td>{{ coupon?.coupon }}</td>
                          <td>{{ coupon?.first_name }} {{ coupon?.last_name }}</td>
                          <td>₦{{ coupon?.amount | number }}</td>
                          <td>
                            <span *ngIf="coupon?.status == 'Active'" class="badge badge-success">Active</span>
                            <span *ngIf="coupon?.status == 'Used'" class="badge badge-danger">Used</span>
                          </td>

                          <td>{{coupon.created_at | date}}</td>

                          <td>
                            <button class="btn btn-success btn-sm mr-3" [openModal]="couponInfo" (click)="singleCoupon(coupon?.id)"><i class="fa fa-eye"></i></button>
                            <button *ngIf="coupon?.status == 'Active'" (click)="deleteBanner('warning', coupon?.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                            <button *ngIf="coupon?.status == 'Used'" disabled class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                          </td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="coupons?.length < 1">
                      <tr>
                        <td colspan="6" class="text-center">No Coupon</td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div class="panel-footer mt-2">
              <div class="row">
                  <div class="col-sm-6 col-xs-6">showing
                      <b>{{ coupons?.length }}</b>
                      out of
                      <b>{{ couponCount }}</b>
                      entries
                  </div>
                  <div class="col-sm-6 col-xs-6">
                      <ul class="pagination hidden-xs pull-right">
                          <button *ngIf="couponCount > 0 && !isLoadMore" (click)="loadMore()" [disabled]="couponCount <= coupons.length" class="btn btn-success btn-sm">Load more</button>

                          <button *ngIf="isLoadMore" disabled class="btn btn-success">Loading <i class="fa fa-spinner fa-spin"></i></button>
                      </ul>
                  </div>
              </div>
            </div>
        </div>


        </section>




    </div>
  </div>
</div>
<app-admin-footer></app-admin-footer>


<div id="modals">

  <app-modal #openDetailModal [closeModal]="closeModal">
      <div class="modalContent" style="background: #fff !important;">
          <div class="modalHead">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="text-dark">Add Coupon</h5>
              </div>

              <div>
                <span class="closeBtn">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                          fill="#fff" />
                  </svg>
                </span>
              </div>
            </div>
          </div>

          <div class="modalBody" style="overflow-y: auto; height: 350px;">
            <div class="formBody">
              <form [formGroup]="formAdd" (ngSubmit)="submitAdd()">

                <label for="user" class="mt-4">Search for User</label>
                <div class="form-group mb-3 ">
                  <div class="input-group">
                    <input type="text" (keyup)="getInputVal($event)" class="form-control" placeholder="Search by coupon code or first name or last name" formControlName="email">
                    <div class="input-group-append">
                      <button class="btn btn-success" *ngIf="!isSearchingUser" type="button" (click)="searchUser()">Go</button>
                      <button class="btn btn-success disabled" *ngIf="isSearchingUser" type="button" disabled><i class="fa fa-spinner fa-spin"></i></button>
                      <button class="btn btn-danger" type="button" (click)="cancelSearchUser()"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div *ngIf="isUserAvail" class="dropDownWrapper">
                    <div class="subWrap">
                      <div *ngIf="users?.length > 0">
                        <div class="eachUser" *ngFor="let user of users">
                          <p (click)="selectedUser(user?.id, user?.email)" class="mb-0">{{ user?.email }}</p>
                        </div>
                      </div>
                      <div *ngIf="users.length < 1">
                        <p class="text-center mb-0 mt-5">No User Found</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group mb-3 mt-5">
                  <label for="amount">Amount <span class="text-danger">*</span></label>
                  <input type="text" formControlName="amount" id="amount" class="form-control mb-0">
                  <div *ngIf="n('amount')?.touched && n('amount')?.invalid" class="alert alert-danger">*This field is required!
                  </div>
                </div>

                <div class="mt-5 text-center">
                  <button *ngIf="!isSubmitting" class="btn btn-primary" [disabled]="!formAdd.valid">Add Coupon</button>
                  <button *ngIf="isSubmitting" class="btn btn-primary disabled"><i class="fa fa-spin fa-spinner"></i> Adding Coupon...</button>
                </div>
              </form>
            </div>
          </div>
      </div>
  </app-modal>


  <app-modal #couponInfo [closeModal]="closeModal">
      <div class="modalContent" style="background: #fff !important;">
          <div class="modalHead">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="text-dark">Coupon Info</h5>
              </div>

              <div>
                <span class="closeBtn">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                          fill="#fff" />
                  </svg>
                </span>
              </div>
            </div>
          </div>

          <div class="modalBody" style="overflow-y: auto; height: 350px;">
            <div class="formBody">
              <div class="d-flex justify-content-between mb-3">
                <p class="mb-0">Coupon</p>
                <p class="mb-0">{{ copInfo?.coupon }}</p>
              </div>
              <div class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Owner</p>
                <p class="mb-0">{{ copInfo?.first_name | titlecase }} {{ copInfo?.laste_name | titlecase }}</p>
              </div>
              <div class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Amount</p>
                <p class="mb-0">₦{{ copInfo?.amount | number }}</p>
              </div>
              <div class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Created On</p>
                <p class="mb-0">{{ copInfo?.created_at | date }}</p>
              </div>
              <div class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Date Used</p>
                <p class="mb-0">{{ copInfo?.date_used | date }}</p>
              </div>
              <div *ngIf="copInfo?.order_number" class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Order Number</p>
                <p class="mb-0">{{ copInfo?.order_number }}</p>
              </div>
              <div class="d-flex justify-content-between mb-3 mt-4">
                <p class="mb-0">Status</p>
                <p class="mb-0">
                  <span *ngIf="copInfo?.status == 'Active'" class="badge badge-success">Active</span>
                  <span *ngIf="copInfo?.status == 'Used'" class="badge badge-danger">Used</span>
                </p>
              </div>
            </div>
          </div>
      </div>
  </app-modal>

</div>




<div *ngIf="showNotice">
  <div class="adminNoteWrap">
    <div *ngIf="justMssg">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>

      <p class="pt-3"> {{theMessage}} </p>
      <div class="d-flex justify-content-center"><button class="btn btn-sm btn-primary" (click)="closeMyNotice()">Close</button></div>
    </div>

    <div *ngIf="deleteModal">
      <div class="d-flex justify-content-center"><i class="fa fa-times delIcon"></i></div>
      <p class="text-center">{{theMessage}}</p>
      <div class="text-center mt-4 mb-2">
          <button class="btn btn-success btn-sm mr-5" (click)="deleteBanner('', returnID)">YES</button>
          <button class="btn btn-primary btn-sm" (click)="closeMyNotice()">NO</button>
      </div>
    </div>
  </div>
</div>
