<footer>
    <hr class="mt-0 p-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 developer text-right">
                <span>
                  Copyright © {{currYear}}
                  <span class="pri-col">
                    {{generalSettings && generalSettings.site_name}}
                  </span>. All Rights Reserved.

                </span>
            </div>

            <!-- <div class="col-xl-5">
				<div class="text-right">
					<span class="designed">
						Designed by:
						<a title="Web & Mobile App Development Agency"
							target="_blank"
							href="https://www.creativeweb.com.ng"
						>CreativeWeb Nigeria</a>
					</span>
				</div>
			</div> -->
        </div>
    </div>
</footer>
