<input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
    <app-admin-header></app-admin-header>
</header>

<nav id="drawer">
    <app-admin-nav-content [mainpage]="'contentmanager'" page="'homebanner'"></app-admin-nav-content>
</nav>

<div id="main" class="adminMain-wrapper">
  <div class="content">
    <div class="container-fluid">



      <div class="page-title-box">
        <div class="d-flex justify-content-between">
          <h4 class="page-title">About Service</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item">
                    <a routerLink="/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">About Service</li>
            </ol>
          </div>
        </div>

      </div>


      <section class="web-set">

        <div class="row">

          <div class="col-xl-6 mt-5">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <div class="card card-dark">
                <div class="card-header text-white">
                  Add More
                </div>

                <div class="card-body">
                  <div class="form-group mb-3">
                    <label for="title">Title <span class="text-danger">*</span></label>
                    <input type="text" formControlName="title" id="title" class="form-control mb-0">
                    <div *ngIf="n('title')?.touched && n('title')?.invalid" class="alert alert-danger">*This field is required!
                    </div>
                  </div>


                  <div class="form-group mb-3">
                    <label for="content">Content <span class="text-danger">*</span></label>
                    <textarea formControlName="content" id="content" class="form-control mb-0" cols="30" rows="6"></textarea>
                    <div *ngIf="n('content')?.touched && n('content')?.invalid" class="alert alert-danger">*This field is required!
                    </div>
                  </div>

                  <div *ngIf="bannerUploadErr" class="bannerErr">
                    <p class="mb-0">Best image size is: 360px By 250px</p>
                  </div>
                  <div class="form-group">
                    <label>Upload Banner</label>
                    <div class="adminUpload">

                      <div class="uploadWrapper text-center" style="position: relative;">
                          <div *ngIf="uploadedBanners" class="deleteImg" (click)="removeUploadBanner()">
                              <i class="fa fa-trash"></i>
                          </div>
                          <label *ngIf="removeLabelBanner" class="uploadLabel" for="faviconUpld">
                              <i class="fa fa-upload uploadIcon"></i>
                              <p>Click here to upload file</p>
                          </label>

                          <input hidden formControlName="image">
                          <input type="file" hidden id="faviconUpld" class="form-control mb-0" (change)="onloadFile($event, 'mainForm')">

                          <div *ngIf="uploadingProgress > 0" class="progress uploadProgress">
                              <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                              Uploading...{{ uploadingProgress }}%
                              </span>
                          </div>

                          <img *ngIf="uploadedBanners" src="{{uploadedBanners}}" class="uploaded">
                      </div>
                    </div>
                  </div>

                  <div class="mt-4 text-center">
                    <button *ngIf="!isSubmitting" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                    <button *ngIf="isSubmitting" class="btn btn-primary disabled"><i class="fa fa-spin fa-spinner"></i> Submitting...</button>
                  </div>
                </div>
              </div>
            </form>
          </div>


          <div class="col-xl-6 mt-5">
            <div class="card card-dark">
              <div class="card-header text-white">List All</div>
              <div class="card-body p-3">
                <div *ngFor="let banner of teams" class="each-banner">
                  <img src="{{ banner?.image }}" alt="{{ banner?.name }}" class="bannerImg">

                  <p class="mt-2 mb-0"><b>{{ banner?.title }}</b></p>
                  <p class="mt-2 mb-2"><small>Last Update: {{ banner?.updated_at | date }}</small></p>
                  <div>
                    <button class="btn btn-primary btn-sm mr-3" [openModal]="openDetailModal" (click)="getEachBanner(banner?.id)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger btn-sm" (click)="deleteBanner('warning', banner?.id)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>


      </section>



    </div>
  </div>
</div>

<app-admin-footer></app-admin-footer>





<div id="modals">

  <app-modal #openDetailModal [closeModal]="closeModal">
      <div class="modalContent" style="background: #fff !important;">
          <div class="modalHead">
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="text-dark">Edit Team Member</h5>
              </div>

              <div>
                <span class="closeBtn">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                          d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                          fill="#fff" />
                  </svg>
                </span>
              </div>
            </div>
          </div>

          <div class="modalBody" style="overflow-y: auto; height: 350px;">
            <div class="formBody">
              <form [formGroup]="formEdit" (ngSubmit)="submitEdit()">

                <div class="form-group mb-3">
                  <label for="title">Title <span class="text-danger">*</span></label>
                  <input type="text" formControlName="title" id="title" class="form-control mb-0">
                  <div *ngIf="n('title')?.touched && n('title')?.invalid" class="alert alert-danger">*This field is required!
                  </div>
                </div>


                <div class="form-group mb-3">
                  <label for="content">Content <span class="text-danger">*</span></label>
                  <textarea formControlName="content" id="content" class="form-control mb-0" cols="30" rows="6"></textarea>
                  <div *ngIf="n('content')?.touched && n('content')?.invalid" class="alert alert-danger">*This field is required!
                  </div>
                </div>

                <div *ngIf="bannerUploadEditErr" class="bannerErr">
                  <p class="mb-0">Best image size is: 263px By 250px</p>
                </div>
                <div class="form-group">
                  <label>Upload Banner</label>
                  <div class="adminUpload">

                    <div class="uploadWrapper text-center" style="position: relative;">
                        <div *ngIf="uploadedBannersEdit" class="deleteImg" (click)="removeUploadBannerEdit()">
                            <i class="fa fa-trash"></i>
                        </div>
                        <label *ngIf="removeLabelBannerEdit" class="uploadLabel" for="faviconUpldEdit">
                            <i class="fa fa-upload uploadIcon"></i>
                            <p>Click here to upload file</p>
                        </label>

                        <input hidden formControlName="image">
                        <input type="file" hidden id="faviconUpldEdit" class="form-control mb-0" (change)="onloadFile($event, 'updateForm')">

                        <div *ngIf="uploadingProgress > 0" class="progress uploadProgress">
                            <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            Uploading...{{ uploadingProgress }}%
                            </span>
                        </div>

                        <img *ngIf="uploadedBannersEdit" src="{{uploadedBannersEdit}}" class="uploaded">
                    </div>
                  </div>
                </div>

                <div class="mt-4 text-center">
                  <button *ngIf="!isUpdating" class="btn btn-primary" [disabled]="!formEdit.valid">Update</button>
                  <button *ngIf="isUpdating" class="btn btn-primary disabled"><i class="fa fa-spin fa-spinner"></i> Updating...</button>
                </div>
              </form>
            </div>
          </div>
      </div>
  </app-modal>

</div>


<div *ngIf="showNotice">
  <div class="adminNoteWrap">
    <div *ngIf="justMssg">
      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>

      <p class="pt-3"> {{theMessage}} </p>
      <div class="d-flex justify-content-center"><button class="btn btn-sm btn-primary" (click)="closeMyNotice()">Close</button></div>
    </div>

    <div *ngIf="deleteModal">
      <div class="d-flex justify-content-center"><i class="fa fa-times delIcon"></i></div>
      <p class="text-center">{{theMessage}}</p>
      <div class="text-center mt-4 mb-2">
          <button class="btn btn-success btn-sm mr-5" (click)="deleteBanner('', returnID)">YES</button>
          <button class="btn btn-primary btn-sm" (click)="closeMyNotice()">NO</button>
      </div>
    </div>
  </div>
</div>
