.bannerErr{
  border: 1px dashed #721c24;
  background: #f8d7da;
  padding: 10px;
  font-size: 14px;
  color: #721c24;
  margin-bottom: 20px;
}


.each-banner{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  padding-top: 20px;
  .bannerImg{
    width: 200px;
  }
}

