circle {
    transition: stroke-dasharray 1s ease;
    fill: transparent;
}

.svgCont {
    position: relative;
    width: 100%;
    height: 100%;
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.mainSvg {
    transform: rotate(-90deg);
}